@model List<UserPermissionViewModel>

<table class="table table-bordered table-hover user-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Download</th>
            <th>Upload</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userPermission in Model)
        {
            <tr class="user_item">
                <td class="user_username">@userPermission.Username<input type="hidden" asp-for="@userPermission.UserId" /></td>
                <td><input type="checkbox" asp-for="@userPermission.CanView" name="userPermissions[@userPermission.UserId].CanView" /></td>
                <td><input type="checkbox" asp-for="@userPermission.CanEdit" name="userPermissions[@userPermission.UserId].CanEdit" /></td>
                <td><input type="checkbox" asp-for="@userPermission.CanDelete" name="userPermissions[@userPermission.UserId].CanDelete" /></td>
                <td><input type="checkbox" asp-for="@userPermission.CanDownload" name="userPermissions[@userPermission.UserId].CanDownload" /></td>
                <td><input type="checkbox" asp-for="@userPermission.CanUpload" name="userPermissions[@userPermission.UserId].CanUpload" /></td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="javascript:void(0);" class="pagination-link @(i == ViewBag.CurrentPage ? "active" : "")" data-page="@i">@i</a>
        }
    }
</div>