@model List<UserPermissionViewModel>

<table class="table table-bordered table-hover user-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Download</th>
            <th>Upload</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr class="user_item">
                <td class="user_username">
                    <input type="hidden" name="UserPermissions[@i].UserId" value="@Model[i].UserId" />
                    <input type="hidden" name="UserPermissions[@i].Username" value="@Model[i].Username" />
                    @Model[i].Username
                </td>
                <td>
                    <input type="checkbox" name="UserPermissions[@i].CanView" value="true" @(Model[i].CanView ? "checked" : "") data-user-id="@Model[i].UserId" data-type="view" />
                </td>
                <td>
                    <input type="checkbox" name="UserPermissions[@i].CanEdit" value="true" @(Model[i].CanEdit ? "checked" : "") data-user-id="@Model[i].UserId" data-type="edit" />
                </td>
                <td>
                    <input type="checkbox" name="UserPermissions[@i].CanDelete" value="true" @(Model[i].CanDelete ? "checked" : "") data-user-id="@Model[i].UserId" data-type="delete" />
                </td>
                <td>
                    <input type="checkbox" name="UserPermissions[@i].CanUpload" value="true" @(Model[i].CanUpload ? "checked" : "") data-user-id="@Model[i].UserId" data-type="upload" />
                </td>
                <td>
                    <input type="checkbox" name="UserPermissions[@i].CanDownload" value="true" @(Model[i].CanDownload ? "checked" : "") data-user-id="@Model[i].UserId" data-type="download" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (ViewBag.TotalPages > 1)
    {
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="javascript:void(0);" class="pagination-link @(i == ViewBag.CurrentPage ? "active" : "")" data-page="@i">@i</a>
        }
    }
</div>